<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">With the DukeStudies app, simply tell it all of the courses that you are enrolled in and are interested in finding study groups for! Using a smart, patented algorithm, DukeStudies easily matches you up with others that are also looking for a study group and places you all into a GroupMe group. </p>
                <a href="www.licody.com/DukeStudies/aside.html#download" class="btn btn-default btn-xl">What are you waiting for? Get started here!</a>
            </div>
        </div>
    </div>
</section>
