<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>A study group app utilizing your favorite messenger</h1>
            <hr>
            <p>Just enrolled in a new class and none of your friends made it off of the waitlist? Too shy or too lazy to talk to others to form a study group? Then check out the Duke Studies app!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
